/* 페이지 버튼 스타일 */
.page-buttons {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* ← 여기! */
    padding: 0 70px;
    pointer-events: auto;
    z-index: 10;
}

.circle-button {
    width: 75px;
    height: 75px;
    background: #adadad;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
    transition: all 0.4s ease;
    box-shadow: 0 0 30px rgba(200, 230, 255, 0.4),
        0 10px 35px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.circle-button.right {
    opacity: 1;
}

.circle-button:active {
    transform: translateY(-1px);
    background:#686868;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
}

.triangle.right {
    border-width: 15px 0 15px 20px;
    border-color: transparent transparent transparent #ffffff;
}

.triangle.left {
    border-width: 15px 20px 15px 0;
    border-color: transparent #ffffff transparent transparent;
}

/* 반응형 디자인 */
@media (max-width: 768px) {

    .page-buttons {
        padding: 0 40px;
    }

    .circle-button {
        width: 65px;
        height: 65px;
    }

    .triangle.right {
        border-width: 12px 0 12px 16px;
    }


}

@media (max-width: 480px) {

    .circle-button {
        width: 55px;
        height: 55px;
    }

    .triangle.right {
        border-width: 10px 0 10px 14px;
    }
}

@media (max-width: 768px) {
    .triangle.left {
        border-width: 12px 16px 12px 0;
    }
}

@media (max-width: 480px) {
    .triangle.left {
        border-width: 10px 14px 10px 0;
    }
}
